<h2 style='text-align: center;'>All Notes</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<%= render 'logout' %>
<br><br>

<div class="home">

  <div class="home_info">
    <span><%= @notes.length %> Notes</span>
    <%= link_to "Create Note", new_note_path, class: "pri_btn" %>
  </div>

  <% unless @notes.empty? %>
    <% @notes.each do |note| %>
      <div class="note">
        <div class="note_header common_header">
          <div class="note_h_left">
            <span class="note_username">You..</span>
            <span class='note_time'><%= note.created_at %></span>
          </div>
        </div>
        <div class="note_title">
          <span><%= note.title %></span>
        </div>
        <div class="note_content">
          <span><%= note.description %></span>
        </div>
        <div class="note_actions">
          <%= link_to "Edit", edit_note_path(note.id), class: "sec_btn" %>
          <%=
            link_to "Delete",
            note, class: "sec_btn",
            :data => { :confirm => "Are you sure you want to delete the note?" },
            :method => :delete
          %>
          <label class="switch"><input type="checkbox" checked id="togBtn_<%= note.id %>" onchange="toggleSwitch(this.id)">
            <div class="slider round">
              <span class="on">Priavte</span><span class="off">Public</span>
            </div>
          </label>
          <%= link_to "View", note, class: "pri_btn" %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @notes.empty? %>
    <div class='home_last_mssg'>
      <span>No notes for you. Go ahead and create one!!</span>
    </div>
  <% end %>

</div>

<script type="text/javascript">
  function toggleSwitch(toggle_id) {
    var note_id = toggle_id.split('_')[1];
    var checked = document.getElementById(toggle_id).checked;
    var payLoad = { "id": note_id, "public_view": checked };

    var ajax = function() {
      $.ajax({
        type: 'GET',
        url: 'notes/update_visibility',
        data: payLoad,
        success: function(){
          console.log("success");
        }
      });
    }
    ajax();
  }
</script>
