<h2 style='text-align: center;'>All Notes</h2>

<style type="text/css">
  .btn-sm {
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px;
  }

  .btn-info {
    position:relative;
    top: 8px;
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da
  }
</style>

<style type="text/css">
nav ul{height:650px; width:100%;}
nav ul{overflow:hidden; overflow-y:scroll;}
</style>
<%= render 'logout' %>
<br><br>

<div class="home">
  <div class="home_info">
    <span><%= @notes.length %> Notes</span>
    <%= link_to "Create Note", new_note_path, class: "pri_btn" %>
  </div>
  <nav>
    <ul>
      <% unless @notes.empty? %>
      <% @notes.each do |note| %>
      <li>
        <div class="note">
          <div class="note_header common_header">
            <div class="note_h_left">
              <% if note.created_by.to_s.eql? session[:user_id].to_s %>
              <span class="note_username">Created By: You..</span>
              <% else %>
              <span class="note_username">Created By: <%= @user_names[note.created_by.to_s] %></span>
              <% end %>
              <span class='note_time'><%= note.created_at %></span>
            </div>
          </div>
          <div class="note_title">
            <span><%= note.title %></span>
          </div>
          <div class="note_content">
            <span><%= note.description %></span>
          </div>
          <div class="note_actions">
            <% if note.created_by.to_s.eql? session[:user_id].to_s %>
            <%= link_to "Edit", edit_note_path(note.id), class: "sec_btn" %>
            <%=
            link_to "Delete",
            note, class: "sec_btn",
            :data => { :confirm => "Are you sure you want to delete the note?" },
            :method => :delete
            %>
            <% if note.public_view.eql? false %>
            <label class="switch"><input type="checkbox" checked id="togBtn_<%= note.id %>" onchange="toggleSwitch(this.id)">
            <% else %>
            <label class="switch"><input type="checkbox" unchecked id="togBtn_<%= note.id %>" onchange="toggleSwitch(this.id)">
            <% end %>
            <div class="slider round">
              <span class="on">Priavte</span><span class="off">Public</span>
            </div>
          </label>
          <% end %>
          <%= link_to "View", note, class: "pri_btn" %>
        </div>
        <% if note.created_by.to_s.eql?(session[:user_id].to_s) and !note.public_view %>
        <div class="note_share">
          <%= link_to 'Share With', popup_note_path(note.id), class: "btn btn-info btn-sm" %>
        </div>
        <% end %>
    </li>
    <% end %>
    <% end %>
  </ul>
</nav>
<% if @notes.empty? %>
<div class='home_last_mssg'>
  <span>No notes for you. Go ahead and create one!!</span>
</div>
<% end %>
</div>


<script type="text/javascript">
  function toggleSwitch(toggle_id) {
    var note_id = toggle_id.split('_')[1];
    var checked = document.getElementById(toggle_id).checked;
    var payLoad = { "id": note_id, "public_view": checked };

    var ajax = function() {
      $.ajax({
        type: 'GET',
        url: 'notes/update_visibility',
        data: payLoad,
        success: function(){
          console.log("success");
        }
      });
    }
    ajax();
  }

</script>
