
<h2 style='text-align: center;'>View Note</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<%= render 'logout' %>

<div class="notes_wrapper">
  <div class="home">

    <div class="blog">
      <div class="blog_c">
        <span class="blog_title"><%= @note.title %></span>
        <br>
        <span class="blog_content"><%= @note.description %></span>
      </div>
      <div class="blog_actions">
        <% if @note.created_by.to_s.eql? session[:user_id].to_s %>
          <%= link_to "Edit", edit_note_path(@note.id), class: "sec_btn" %>
          <%=
            link_to "Delete",
            @note, class: "sec_btn blog_dlt",
            :data => { :confirm => "Are you sure you want to delete the note?" },
            :method => :delete
          %>
        <% end %>
        <%= link_to 'Send in Email', send_mail_note_path(@note.id), :method => :get, class: "sec_btn" %>
        <%= link_to "Back", notes_path, class: 'pri_btn' %>
      </div>
    </div>

  </div>
</div>

<% if @note.public_view or @shared_user_ids.include?(session[:user_id]) or (!@note.public_view and @shared_user_ids.any?) %>

  <nav>
  <ul class="comment-section">

  <% @comments.each do |single_commnet| %>
    <% if single_commnet.created_by.to_s.eql? session[:user_id].to_s %>

      <li class="comment author-comment">
        <div class="info">
          <a href="#" style='color: black'>You...</a>
          <span style='color: white'><%= single_commnet.created_at %></span>
        </div>
        <p><%= single_commnet.description %></p>
      </li>

    <% else %>

      <li class="comment user-comment">
        <div class="info">
          <a href="#" style='color: black'><%= @user_names[single_commnet.created_by] %></a>
          <span style='color: white'><%= single_commnet.created_at %></span>
        </div>
        <p><%= single_commnet.description %></p>
      </li>

    <% end %>

  <% end %>
  </ul>
  </nav>

  <ul>
  <li class="write-new">
      <form>
          <textarea placeholder="Write your comment here" id="comments_area"></textarea>
          <div>
              <button onclick="submitComment()">Submit</button>
          </div>
      </form>
  </li>
  </ul>
<% end %>


<script type="text/javascript">
  function submitComment() {
    var note_id = <%= @note.id %>;
    var comment = document.getElementById('comments_area').value;
    var payLoad = { "id": note_id, "comment": comment };

    var ajax = function() {
      $.ajax({
        type: 'GET',
        url: 'create_comment',
        data: payLoad,
        success: function(){
          console.log("success");
        }
      });
    }
    ajax();
  }
</script>

<style type="text/css">
nav ul{height:300px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}
</style>
