<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @comment.created_by %>
</p>

<p>
  <strong>Note:</strong>
  <%= @comment.note_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
